//fonts-color
$font-color-primary: #fff; //white
$font-color-secondary: #000; //black
$font-color-tertiary: #545454; //very dark gray - footer
$font-color-accent: #ff6b08; //vivid orange - card-film-info
$font-color-warning: #ff001b; //red
$font-color-alternative: #8c8c8c; //gray

//accent-color
$accent-color: #ff6b08; //vivid orange - main - pagination
$accent-color-btn: #ff6b01; //vivid orange - header button and film card points
$accent-color-underline: #ff001b; //red - header

//icons-color
$icon-color-primary: #fff; //white-header - film and search
$icon-color-secondary: #ff6b08; //vivid orange -footer - heart

//bcg-color
$background-color-primary: #e5e5e5; //Very light gray - body
$background-color-secondary: #f7f7f7; //Very light gray - footer / arrows-pagination
$background-color-tertiary: #fff; //movie card modal
