<header class="header">
  <nav class="header-nav">
    <div class="header-logoWrapper">
      <svg class="header-logo"><use href="/src/images/icon.svg#icon-icon-film"></use></svg>
      <div class="header-logoText">Filmoteka</div>
    </div>
    <ul class="header-list">
      <li>Home</li>
      <li>My library</li>
    </ul>
  </nav>
  <form action="" class="header-form">
    <label class="header-label"
      ><input type="text" class="header-input" placeholder="Move search" /><button
        class="header-btn"
        type="submit"
      >
        <svg class="header-search">
          <use href="/src/images/icon.svg#icon-search"></use>
        </svg></button
    ></label>
  </form>
</header>
