<header class="header-library">
  <section>
    <div class="container header-library__content">
      <div class="header-library__logo">
        <a class="header-library__logo-link" href="./inex.html">
          <svg width="24" height="24">
            <use href=""></use>
          </svg>
          <span class="header-library__logotext">Filmoteka</span>
        </a>
      </div>
      <nav>
        <ul class="header-library__navigation">
          <li class="header-library__navigation-item">
            <a class="header-library__navigation-link" href="./index.html">Home</a>
          </li>
          <li class="header-library__navigation-item">
            <a
              class="header-library__navigation-link header-library__navigation-link-active"
              href="./library.html"
              >My library</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="header-library__button-section">
      <ul class="header-library__button-list">
        <li>
          <button class="header-library__button-list-item" type="button">Watched</button>
        </li>
        <li>
          <button class="header-library__button-list-item" type="button">Queue</button>
        </li>
      </ul>
    </div>
  </section>
</header>
