<header class="header">
  <nav class="header-nav container">
    <a href="index.html">
      <div class="header-logoWrapper">
        <svg class="header-logo">
          <use href="/src/images/icon.svg#icon-icon-film"></use>
        </svg>
        <div class="header-logoText">Filmoteka</div>
      </div></a
    >
    <ul class="header-list">
      <li class="header-item-isActive">
        <a href="/src/index.html">Home</a>
      </li>
      <li class="header-item">
        <a href="/src/library.html">My library</a>
      </li>
    </ul>
  </nav>
  <button class="header-darkmode-btn" type="button">Dark mode</button>
  <form action="" class="header-form">
    <label class="header-label">
      <input type="text" class="header-input" placeholder="Movie search" />
      <button class="header-btn" type="submit">
        <svg class="header-search">
          <use href="/src/images/icon.svg#icon-search"></use>
        </svg>
      </button>
    </label>
    <div class="no-results">No results found</div>
  </form>
</header>
<section class="movie-collection container"></section>
