<div class="backdrop backdrop--is-hidden" data-modal>
  <div class="movie-modal">
    <button class="button-close" data-modal-close>X</button>
    <!-- <div class="movie-modal__img"></div>
    <div class="movie-modal__content">
      <h2 class="movie-modal__title"></h2>
      <p class="movie-modal__about"></p>
      <div class="btn-wrapper">
        <button type="button" class="button button--accent" id="addToWatchedBtn">
          ADD TO WATCHED
        </button>
        <button type="button" class="button" id="addToQueueBtn">ADD TO QUEUE</button>
      </div>
    </div> -->
  </div>
</div>
