<div class="pagination-wrapper container">
  <ul class="pagination-list">
    <li class="pagination-item">
      <button class="pagination-btn-arrow">
        <svg class="pagination-svg">
          <use href="/src/images/icon.svg#icon-arrow-left"></use>
        </svg>
      </button>
    </li>
    <li class="pagination-item">
      <button class="pagination-btn">2</button>
    </li>
    <li class="pagination-item">
      <button class="pagination-btn">3</button>
    </li>
    <li class="pagination-item">
      <button class="pagination-btn">4</button>
    </li>
    <li class="pagination-item">
      <button class="pagination-btn">5</button>
    </li>
    <li class="pagination-item">
      <button class="pagination-btn">6</button>
    </li>
    <li class="pagination-item">
      <button class="pagination-btn-arrow">
        <svg class="pagination-svg">
          <use href="/src/images/icon.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </li>
  </ul>
</div>
