<div class="pagination-wrapper container">
  <ul class="pagination-list tui-pagination" id="pagination">
    <!-- <li class="pagination-item">
      <button class="pagination-btn-arrow">
        <svg class="pagination-svg">
          <use href="/src/images/icon.svg#icon-arrow-left"></use>
        </svg>
      </button>
    </li>
    <li class="pagination-item" value="1">
      <button class="pagination-btn">1</button>
    </li>
    <li class="pagination-item" value="2">
      <button class="pagination-btn">2</button>
    </li>
    <li class="pagination-item-active" value="3">
      <button class="pagination-btn">3</button>
    </li>
    <li class="pagination-item" value="4">
      <button class="pagination-btn">4</button>
    </li>
    <li class="pagination-item" value="5">
      <button class="pagination-btn">5</button>
    </li>
    <li class="pagination-item">
      <button class="pagination-btn-arrow">
        <svg class="pagination-svg">
          <use href="/src/images/icon.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </li> -->
  </ul>
</div>
