// do usunięcia po zaczytaniu resetu stylów
.movie-data > p {
  margin: 0px;
}
// ------------------------

.movie-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 59px;
  }

  @media screen and (min-width: 1280px) {
    gap: 15px;
    padding-top: 44px;
  }
}
.movie-card {
  width: 280px;
  height: 440px;

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 495px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 634px;
    margin-top: 16px;
  }

  &__img {
    width: 100%;
    height: 398px;
    border-radius: 5px;
    display: block;
    background: lightgrey;

    @media screen and (min-width: 768px) {
      height: 455px;
    }

    @media screen and (min-width: 1280px) {
      height: 574px;
    }
  }

  &:hover {
    cursor: pointer;
    opacity: 90%;
  }
}

.movie-data {
  width: 100%;
  height: 42px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding-top: 10px;

  @media screen and (min-width: 1280px) {
    height: 60px;
    padding-top: 12px;
    font-size: 20px;
    line-height: 24px;
  }

  &__title {
    color: $font-color-secondary;
    text-transform: uppercase;
  }
  &__info {
    color: $font-color-accent;
  }
}
