.backdrop-footer {
    opacity:0;
    z-index: 10;
    pointer-events: none;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgba(11, 11, 11, 0.732);
    position: fixed;
    top: 0%;
    left: 0%;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    &.shown {
        opacity: 1;
        pointer-events: initial;
        overflow:scroll;
    }
  }

  .modal-footer {
    @media screen and (min-width: 320px) {
        width: 95vw;
        top: 0%;
      
    }
    @media screen and (min-width: 450px) {
        width: 450px;
      
    }
    @media screen and (min-width: 768px) {
        width: 670px;
        top: 50%;
        transform: translate(-50%, -50%);  
    }
   
    background-color: white;
    box-shadow: 0 0 100px 80px rgba(207, 130, 7, 0.192);
    border-radius: 20px;
    position: absolute;
    left: 50%;
    padding-bottom: 20px;

    transform: translateX(-50%);
    // transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .worker__list {
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

.worker-title {
    margin-bottom: 0px;
    font-size: 20px;
    color: #ff6b08;
    @media (min-width: 768px)  {
        font-size: 20px;
        padding-top: 10px;
    }
    @media (min-width: 1280px)  {
        font-size: 27px;
        padding-top: 10px;
        
    }
}
.worker-image-wrapp {
    display: flex;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: -20px;
    @media (min-width: 768px)  {
        margin-bottom: 20px;
        padding-top: 40px;
    }
    @media (min-width: 1280px)  {
        margin-bottom: 20px;
        padding-top: 40px;

    }
    
}
.worker-position {
    margin-bottom: 10px;
    font-size: 10px;
    color:#454545;
    @media (min-width: 768px)  {
        font-size: 12px;
    }
    @media (min-width: 1280px)  {
        font-size: 20px;
    }
}

.button2__modal {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-right: 100px;
    margin-left: 100px;
}


.modal__close2 {
    position: absolute;
    top:12px;
    right: 12px;
    z-index:5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 2px solid #ff6b08;
    border-radius: 50%;
    transition: box-shadow 250ms linear, transform 250ms linear;
    cursor: pointer;

    &:hover {
    box-shadow: 0 0 5px 5px rgba(255, 107, 1, 0.63);
    // transform: scale(1.03);
    }
    @media (min-width: 450px)  {
        width: 35px;
    height: 35px;
    }
}
    
.worker__img {
    padding-top: 20px;
    margin-bottom: 0px;
    width: 250px;
    height: auto;
    justify-content: center;

    @media (min-width: 768px)  {
        width: 300px;
        margin-bottom: -70px;
        padding-top: 30px;
    }
    @media (min-width: 1280px)  {
        width: 400px;
        margin-bottom: -85px;
        padding-top: 6px;
    }
}

.team-logo {
    z-index: 6;
    display:flex;
    justify-content:center;
    position: absolute;
    top:40px;
    width:250px;
    right: 0;
    left: 0;
    margin: auto;
    height: auto;
    @media (min-width: 450px)  {
        width: 250px;
    }
    @media (min-width: 768px)  {
        width: 400px;
    }
    @media (min-width: 1280px)  {
        width: 440px;
        top:20px;
    }
}

.worker__icons {
    display: flex;
    justify-content:center;
    margin-bottom: 10px;
}

.worker__icon-link + .worker__icon-link{
    margin-left: 10px;
}
.worker__icon {
    transition: fill 250ms linear;
    .worker__icon-link:hover &,
    .worker__icon-link:focus &{
        fill: #ff6b08;
        transform: scale(1.20);
    }
}

.worker-text {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.modal__slider-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #eeeeee00;
    border: 2px solid #ff6b08;
    transition: box-shadow 250ms linear, transform 250ms linear;
    cursor:pointer;
    color: #000000;

    &:hover {
        box-shadow: 0 0 5px 5px rgba(255, 107, 1, 0.63);
        transform: scale(1.03);
    }
    @media (min-width: 768px)  {
        width: 30px;
    height: 30px;
    }
    @media (min-width: 1280px)  {
        width: 40px;
    height: 40px;
}
}
.icon__arrow {
    fill: inherit;
    stroke:inherit;
}

.modal__close2-icon {
    width: 10px;
    height: 10px;
    stroke: #000000;
    fill: #000000;
    @media (min-width: 450px)  {
    width: 16px;
    height: 16px;
    }
}
body {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    background-color: #ffffff;
    height: 100%;
  
    position: relative;
    min-height: 100vh;
  
    &.modal-open {
        overflow: hidden;
      }
      
  }