.header-library {
  height: 230px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/phone/my-library-header-phone.jpg);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/phone/my-library-header-phone@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    height: 219px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/tablet/my-library-header-tablet.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/desktop/my-library-header-desktop@2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    height: 216px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/desktop/my-library-header-desktop.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/desktop/my-library-header-desktop@2x.jpg);
    }
  }
}
.header-library__logo {
  margin-left: -10px;
}
.header-library__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-library__logo-link {
  text-decoration: none;
  gap: 10px;
}

.header-library__logo-icon {
  fill: transparent;
  stroke: white;
  width: 24px;
  height: 24px;
}
.header-library__logo-link {
  background-color: inherit;
  fill: currentColor;
  border: none;
  cursor: pointer;
  display: flex;
  margin-top: 40px;
  align-items: center;
}
.header-library__logotext {
  display: none;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  align-items: center;
  text-align: center;
  color: $font-color-primary;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.header-library__navigation {
  display: flex;
  align-items: center;
  list-style: none;
  padding-top: 40px;
  gap: 40px;
  margin-right: 10px;
}

.header-library__navigation-item:last-child {
  @media screen and (min-width: 768px) {
  }
}

.header-library__navigation-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $font-color-primary;
  cursor: pointer;
}
.header-library__navigation-link-active {
  border-bottom: 3px solid $accent-color-underline;
}

.header-library__button-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-library__button-list {
  display: flex;
  list-style: none;
  margin-top: 40px;
  gap: 16px;
}
.header-library__button-list-item {
  width: 129.53px;
  height: 44px;
  padding-top: 13.36px;
  padding-bottom: 11.45px;
  padding-left: 41.35px;
  padding-right: 41.35px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background: inherit;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: $font-color-primary;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    width: 152px;
  }
}
.header-library__button-list-item:hover {
  background-color: $accent-color;
  border: 1px solid $accent-color;
}
.header-library__button-list-item:focus {
  background-color: $accent-color;
  border: 1px solid $accent-color;
}
.btn-active {
  background-color: #ff6b01;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  border: #ff6b01;
}
