.header {
  background-image: url(/src/images/phone/home-header-phone.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top, center;
  width: 100%;
  height: 230px;

  &-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
  }

  &-list {
    display: flex;
    gap: 40px;
    color: $font-color-primary;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
  }

  &-item {
    &-isActive {
      border-bottom: 3px solid $accent-color-underline;
    }
  }

  &-form {
    display: flex;
    justify-content: center;
    position: relative;
    top: 56px;
  }

  &-logo {
    fill: transparent;
    stroke: $font-color-primary;
    width: 24px;
    height: 24px;
  }

  &-logoText {
    display: none;
  }

  &-label {
    border-bottom: 0.5px solid;
    border-bottom-color: $background-color-primary;
    display: flex;
  }

  &-input {
    background-color: transparent;
    border: none;
    outline: none;
    color: $font-color-primary;
    width: 260px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    &::placeholder {
      color: $font-color-primary;
    }
  }

  &-btn {
    background: transparent;
    width: 20px;
    height: 20px;
    display: contents;
  }

  &-search {
    width: 16px;
    height: 16px;
    stroke: $font-color-primary;
    fill: transparent;
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .header {
    background-image: url(/src/images/phone/home-header-phone@2x.jpg);
  }
}

//<-------------tablet------------->

@media (min-width: 768px) {
  .header {
    background-image: url(/src/images/tablet/home-header-tablet.jpg);
    height: 216px;

    &-input {
      width: 316px;
    }

    &-logoWrapper {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &-logoText {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
      display: flex;
      align-items: center;
      text-align: center;
      color: $font-color-primary;
    }
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header {
      background-image: url(/src/images/tablet/home-header-tablet@2x.jpg);
    }
  }
}

//<-------------Desktop------------->

@media (min-width: 1280px) {
  .header {
    background-image: url(/src/images/desktop/home-header-desktop.jpg);

    &-input {
      width: 374px;
    }
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header {
      background-image: url(/src/images/desktop/home-header-desktop@2x.jpg);
    }
  }
}
.night-mode-button {
  position: absolute;
  top: 20px;
  right: 20px;
}
.night-mode {
  background-color: #222;
  color: #fff;
}

.night-mode .header-logoText {
  color: #fff;
}

.night-mode .night-mode-button {
  background-color: #333;
  color: #fff;
}
