.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: $background-color-primary;
  transition: 2.5s, visibility 2.5s;
}

.loader-run {
  opacity: 0;
  visibility: hidden;
  // visibility: visible;
  // opacity: 1;
}

.loader::after {
  content: '';
  width: 95px;
  height: 95px;
  border: 15px solid $background-color-tertiary;
  border-top-color: $accent-color;
  border-radius: 50%;
  animation: loading 0.8s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
