.modal {

    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba;
    z-index: 10;

}

/* Main Modal Movie ( content-box )*/

.modal-content {
    margin: 15%;
    padding: 25px;
    width: 75%;
    border: 1px solid #555;
    background: #fefefe;

}

/* Close BTN*/

.close {
    float: right;
    color: #aaafaa;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #7777;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 700px) {

    .modal-content {
        overflow: scroll;
        width: 90%;
        max-height: 90%;
    }
}