// body.modal-open {
//   overflow-y: hidden;
// }

.backdrop {
  display: flex;
  justify-content: center;
  align-items: start;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 750ms ease;
  padding-top: 20px;

  @media screen and (min-width: $tablet) {
    padding-top: 216px;
  }

  &--is-hidden {
    display: none;
  }
}

.movie-modal {
  background: $background-color-tertiary;
  width: 280px;
  padding: 48px 20px;
  position: relative;

  @media screen and (min-width: $tablet) {
    width: 704px;
    padding: 40px 72px 52px 36px;
  }

  @media screen and (min-width: $desktop) {
    width: 806px;
    padding: 40px 12px;
  }

  &__close-btn {
    background-color: inherit;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      align-items: normal;
      gap: 68px;
    }

    @media screen and (min-width: $desktop) {
      gap: 30px;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-image: url(/src/images/imageonline-co-placeholder-image.jpg);
    background-size: contain;

    @media screen and (min-width: $tablet) {
      width: 264px;
      height: 374px;
    }

    @media screen and (min-width: $desktop) {
      width: 375px;
      height: 478px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    gap: 20px;
    color: black;

    @media screen and (min-width: $tablet) {
      width: 264px;
    }

    @media screen and (min-width: $desktop) {
      width: 447px;
    }
  }

  &__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
      font-size: 20px;
      line-height: 23px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 30px;
      line-height: 35px;
    }
  }

  &__table {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;

    & tr {
      height: 24px;
    }

    &-caption {
      width: 118 px;
      color: $font-color-alternative;

      @media screen and (min-width: $desktop) {
        width: 152px;
      }
    }
  }

  &__about {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
  }

  &__about-header {
    line-height: 16px;
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
    }
  }

  &__overview {
    line-height: 20px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 44px;
  padding: 6px 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  text-transform: uppercase;
  border: 1px solid #000000;
  border-radius: 5px;
  background: #ffffff;
  color: #000000;

  @media screen and (min-width: $tablet) {
    width: 125px;
  }

  @media screen and (min-width: $desktop) {
    width: 136px;
  }

  &:hover {
    border: none;
    background: $accent-color-btn;
    color: white;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 480px) {
    gap: 20px;
  }

  @media screen and (min-width: 768) {
    gap: 15px;
  }
}

.modal__close2 {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 2px solid #ff6b08;
  border-radius: 50%;
  transition: box-shadow 250ms linear, transform 250ms linear;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 5px 5px rgba(255, 107, 1, 0.63);
    // transform: scale(1.03);
  }

  @media (min-width: 450px) {
    width: 35px;
    height: 35px;
  }
}