.backdrop {
  display: flex;
  justify-content: center;
  align-items: start;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 750ms ease;
  padding: 20px;

  &--is-hidden {
    transform: translateY(-120%);
  }
}

.movie-modal {
  background: $background-color-tertiary;
  width: 280px;
  padding: 48px 20px 46px 20px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
    text-transform: uppercase;
  }

  &__about-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
  }

  &__overview {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 44px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #000000;
  border-radius: 5px;
  background: #ffffff;
  color: #000000;

  &--accent {
    border: none;
    background: $accent-color-btn;
    color: white;
    padding: 6px 20px;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 480px) {
    gap: 20px;
  }

  @media screen and (min-width: 768) {
    gap: 15px;
  }
}
