.pagination {
  &-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  //   &-list {
  //     display: flex;
  //     gap: 5px;

  //   }

  //   &-item {
  //     border-radius: 5px;

  //     &:hover {
  //       background-color: $icon-color-secondary;
  //     }

  //     &-active {
  //       background-color: $icon-color-secondary;
  //       border-radius: 5px;
  //     }
  //   }

  //   &-btn {
  //     width: 40px;
  //     height: 40px;
  //     border: none;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     background-color: transparent;

  //     &-arrow {
  //       width: 40px;
  //       height: 40px;
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;
  //       background: #f7f7f7;
  //       border-radius: 5px;
  //       border: none;
  //       display: none;

  //       &:hover {
  //       background-color: $icon-color-secondary;
  //     }
  //     }
  //   }

  //   &-svg {
  //     width: 40px;
  //     height: 40px;
  //     stroke: black;
  //     fill: transparent;
  //     width: 16px;
  //     height: 16px;
  //   }
}
.tui {
  &-pagination {
    display: flex;
    gap: 5px;
  }
  &-page-btn {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    &:hover {
      background-color: $icon-color-secondary;
    }
  }
  &-last{
    display: none
  }
  &-first{
    display: none
  }
  &-prev-is-ellip{
    display: none
  }
  &-next-is-ellip{
    display: none
  }
  &-prev{
    background-color: #F7F7F7;
  }
  &-next{
    background-color: #F7F7F7;
  }
  &-is-selected{
    background-color: $icon-color-secondary;
  }
}
