.pagination {
  &-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.tui {
  &-pagination {
    display: flex;
    gap: 5px;
  }
  &-page-btn {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    &:hover {
      background-color: $icon-color-secondary;
    }
  }
  &-last {
    display: none;
  }
  &-first {
    display: none;
  }
  &-prev-is-ellip {
    display: none;
  }
  &-next-is-ellip {
    display: none;
  }
  &-prev {
    background-image: url(/src/images/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  &-next {
    background-image: url(/src/images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  &-is-selected {
    background-color: $icon-color-secondary;
  }
}

//<-------------tablet & desktop------------->

@media (min-width: 768px) {
  .tui {
    &-last {
      display: flex;
      background-image: url(/src/images/nav-last.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px;
    }
    &-first {
      display: flex;
      background-image: url(/src/images/nav-first.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px;
    }
    &-prev-is-ellip {
      display: flex;
    }
    &-next-is-ellip {
      display: flex;
    }
  }
}
