.go-up-btn {
  display: none;
  //   display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 50px;
  // right: 50px;
  right: calc(2.5%);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1) 2ms;
}

.icon-up {
  fill: $accent-color-btn;
  width: 55px;
  height: 55px;
}

.icon-up:hover,
.icon-up:focus {
  transform: scale(1.2);
}

@media screen and (min-width: 480px) {
  //   .icon-up {
  //     width: 40px;
  //     height: 45px;
  //   }
  .go-up-btn {
    right: calc(3%);
  }
}

@media screen and (min-width: 768px) {
  .icon-up {
    width: 65px;
    height: 65px;
  }
  .go-up-btn {
    right: calc(2.5%);
  }
}

@media screen and (min-width: 1280px) {
  .icon-up {
    width: 85px;
    height: 85px;
  }
  // .go-up-btn {
  //   right: calc(2.5%);
  // }
}
